#platform=x86, AMD64, or Intel EM64T
#version=DEVEL

# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use NFS installation media
nfs --server=192.168.1.42 --dir=/install/iso/CentOS-6.4-x86_64
# Root password
rootpw --iscrypted $ando

# User Create 
user --name=ando --groups=ando --homedir=/home/ando --iscrypted --password=ando

# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
# System keyboard
keyboard jp106
# System language
lang ja_JP.UTF-8
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  Asia/Tokyo
# Network information
network  --bootproto=static --device=eth0 --ip=192.168.1.252 --netmask=255.255.255.0 --onboot=on --hostname kickstart --noipv6

# System bootloader configuration
bootloader --location=mbr --driveorder=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --asprimary --fstype="ext4" --size=200 --ondisk=sda
part swap --fstype="swap" --size=1024
part / --fstype="ext4" --grow --size=1

#packages install
%packages
@additional-devel
@base
@development
@emacs
@japanese-support
@perl-runtime
cmake
compat-gcc-34
compat-gcc-34-c++
compat-gcc-34-g77
ctags-etags
e2fsprogs-devel
emacs-nox
expat-devel
expect
fuse-devel
gcc-objc++
gmp-devel
httpd-devel
iptables-devel
libstdc++-docs
mercurial
nasm
rpmdevtools
rpmlint
tcp_wrappers-devel
xz-devel

%end

%pre
#/bin/sh
/usr/bin/wget http://192.168.1.226/inc/CentOS-6.4-x86_64/generic.base.sh -O /tmp/generic.base.sh
/usr/bin/wget http://192.168.1.226/inc/CentOS-6.4-x86_64/generic.hosts.sh -O /tmp/generic.hosts.sh
/usr/bin/wget http://192.168.1.226/inc/CentOS-6.4-x86_64/generic.ntp.sh -O /tmp/generic.ntp.sh
/usr/bin/wget http://192.168.1.226/inc/CentOS-6.4-x86_64/generic.post.sh -O /tmp/generic.post.sh
/usr/bin/wget http://192.168.1.226/inc/CentOS-6.4-x86_64/generic.repo.sh -O /tmp/generic.repo.sh

%post
%include /tmp/generic.base.sh
%include /tmp/generic.hosts.sh
%include /tmp/generic.ntp.sh
%include /tmp/generic.post.sh
%include /tmp/generic.repo.sh
